## Variáveis

- Como definir variáveis em Python;

In [1]:
nome = "Jessika"  #definição da variável sempre o nome  =  valor (o "=" é chamado de operador de atribuição)

In [2]:
idade = 28

In [3]:
altura = 1.68

In [4]:
e_matematica = True

In [6]:
nome = "Jessika"
idade = 28
altura = 1.68
e_matematica = True

### Como sabemos o valor que gravamos na variável?

In [7]:
nome

'Jessika'

In [8]:
altura

1.68

In [9]:
nome #se colocarmos as duas variáveis em um bloco ele mostrará apenas o valor da ultima
altura

1.68

In [10]:
nome, altura #podemos colocar dessa forma

('Jessika', 1.68)

In [11]:
print(nome)
print(altura)

Jessika
1.68

In [12]:
print("O valor da variável nome é: ", nome)

O valor da variável nome é:  Jessika

### E como sabemos o tipo da variável?

- Para isso usamos a função type( );

In [13]:
type(nome)

str

In [14]:
type(idade)

int

In [15]:
type(altura)

float

In [16]:
type(e_matematica)

bool

### Conversão de tipos

-- supondo que agora queremos não apenas dizer os anos, mas os anos e meses, então poderiamos escrever por ex: 28.2,
28 anos e 2 meses

In [17]:
type(idade) #queremos converter o valor int para float

int

In [18]:
float(idade) #aqui ainda não convertemos!!

28.0

In [19]:
type(idade)

int

In [20]:
idade = float(idade)

In [21]:
type(idade)

float

In [22]:
type(nome)

str

In [23]:
float(nome) #não conseguimos converter por exemplo, uma string em um float.

ValueError: could not convert string to float: 'Jessika'

In [24]:
float(e_matematica) #true = 1, false = 0

1.0

### Sobreescrevendo o valor de uma variável

In [25]:
altura

1.68

In [27]:
altura = "ola"

In [28]:
altura

'ola'

In [ ]:
#importante cuidar disso quando estiver fazendo códigos. Pode-se perder o valor de uma variável!